@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');





* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

.page-wrapper {
	margin: 0 auto;
	max-width: 1400px;
	padding: 10px;
}


.logo img {
	width: 3.75rem;
	height: 1.25rem;
}

.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.links ul {
	display: flex;
	padding-left: 0;
	list-style: none;
}

.search h3 {
	font-size: 1.375rem;
	font-weight: 700;
	line-height: 1rem;
	line-height: 100%;
}

.search h4 {
	font-weight: 400;
	font-size: 1rem;
}

.links a {
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	color: black;
	margin: 0 1.25rem;
	font-weight: 400;
	padding: 0.625rem 0.313rem;
}

.links a:hover {
	color: #0065FC;
	border-top: 3px solid #0065FC;
}

.location-btn {
	font-size: 1.125rem;
	background-color: #F2F2F2;
	padding: 0.938rem;
	border: none;
	margin-right: 0;
	border-top-left-radius: 0.938rem;
	border-bottom-left-radius: 0.938rem;
	cursor: pointer;

}


form {
	display: flex;
}

form input::placeholder {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 1.125rem;
	color: black;
	background-color: white;
}

.search-container {
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	margin-bottom: 2.5rem;
}

.search-container form input {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 1.125rem;
	background-color: #FFFFFF;
	color: black;
	padding: 0.938rem;
	border: none;
	border: 1px solid #F2F2F2;
	border-right: none;
	margin-left: 0;
}

.fa-location-dot {
	font-size: 1.125rem;
	width: 0.875rem;
	height: 1.125rem;
	margin-right: 0;
}

.search-btn {
	background-color: #0065FC;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 1.125rem;
	padding: 0.938rem;
	border: none;
	border-top-right-radius: 0.938rem;
	border-bottom-right-radius: 0.938rem;
	cursor: pointer;
}

.fa-magnifying-glass {
	display: none;
}

.filters {
	display: flex;
	flex-flow: row wrap;
	max-width: 100%;
	text-align: center;
	align-items: center;
	justify-content: flex-start;
}

.filters p {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 18px;
	align-self: center;
}

.filters ul {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	display: flex;
	align-items: baseline;

	list-style: none;
	padding-left: 0;
}

.filters .btn {
	display: inline-block;
	font-size: 1.063rem;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	border-radius: 25px;
	border: 2px solid #D9D9D9;
	background-color: #FFFFFF;
	padding: 0.625rem 0.938rem;
	margin-left: 2.5rem;
	text-align: center;
	cursor: pointer;
}

.btn:hover {
	background-color: #DEEBFF;
}

.btn .fa-solid {
	color: #0065FC;
	font-size: 1.188rem;
	padding-right: 0.625rem;
	text-align: center;
}

.info {
	display: flex;
	flex-flow: row;
	align-items: center;
	font-family: 'Raleway', sans-serif;
	margin-top: 2.5rem;
	font-size: 1rem;
	font-weight: 400;
}

.info div {
	display: block;
	color: #0065FC;
	text-align: center;
	border: 1px solid #d9d9d9;
	height: 24px;
	width: 24px;
	border-radius: 50%;
	font-size: 14px;
	padding: 2px;
	margin-right: 10px;
}

#accomodations {
	box-sizing: border-box;
	border-radius: 1.25rem;
	background-color: #F2F2F2;
	width: 68%;
	padding: 1.25rem;
}

#accomodations h2 {
	margin-bottom: 0;
	padding-left: 0.625rem;
	font-size: 1.375rem;
	font-weight: 700;
	margin-bottom: 0.625rem;
}

.image img {
	flex-shrink: 0;
	width: 100%;
	height: 124px;
	object-fit: cover;
	border-top-right-radius: 1.25rem;
	border-top-left-radius: 1.25rem;
}

.result-box {
	position: relative;
	display: block;
	width: 30%;
	border-radius: 1.25rem;
	background-color: #FFFFFF;
	padding: 0.313rem;
	margin-bottom: 20px;
	box-shadow: 0px -2px 20px -13px rgba(145, 145, 145, 1);

}

.result-box:hover {
	box-shadow: 0px -2px 20px -1px rgba(145, 145, 145, 1);
}

#accomodations a {
	color: black;
	text-decoration: none;
	font-size: 1.125rem;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	padding-left: 10px;
	padding-top: 1.25rem;
}

.content a::before {
	content: "";
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;

}

.left-side {
	width: 100%;
	background-color: #F2F2F2;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin-bottom: 1.25rem;
}

.content {
	display: flex;
	flex-direction: column;
	margin-top: 0;
	padding-top: 0;
	padding-bottom: 5px;
	margin-left: 0.625rem;
}

.content h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
	font-weight: 700;
	margin-bottom: 5px;
	margin-top: 0.625rem;
}

.content h4 {
	font-family: 'Raleway', sans-serif;
	font-size: 0.875rem;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 5px;
}

.stars {
	display: flex;
	color: #0065FC;
	margin-top: 5px;
	margin-left: 0;
	margin-bottom: 0;
	list-style: none;
	padding-left: 0.625rem;
}

.last-star {
	color: #F2F2F2;
}

.popular {
	border-radius: 1.25rem;
	background-color: #F2F2F2;
	padding: 1.25rem;
	display: flex;
	flex-flow: column;
	width: 29%;
}

.most-popular {
	display: flex;
	width: 100%;
	justify-content: space-between;
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;
}

.popular-box {
	position: relative;
	display: flex;
	flex-flow: row;
	width: 100%;
	height: 144px;
	padding: 5px;
	background-color: #FFFFFF;
	border-radius: 20px;
	box-shadow: 0px -2px 20px -13px rgba(145, 145, 145, 1);
}

.popular-box:hover {
	box-shadow: 0px -2px 20px -1px rgba(145, 145, 145, 1);
}

.popular-image {
	display: flex;
	justify-content: center;
	width: 35%;

}

.popular-image img {
	width: 100%;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	object-fit: cover;
}

.right-side {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	margin: 25px auto;
}

.popular-content {
	width: 65%;
	padding: 10px;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}

.content-headers {
	margin: 0;
	padding: 0;
}

.content-headers a {
	text-decoration: none;
	color: black;
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
	font-weight: 700;
	margin: 0;
	padding: 0;

}

.popular-box a::before {
	content: "";
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.content-headers h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

.content-headers h4 {
	font-family: 'Raleway', sans-serif;
	font-size: 0.875rem;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

.results {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.stars {
	color: #0065FC;
	padding-left: 0;
	margin-top: 0;
}

.most-popular li:first-child {
	font-family: 'Raleway', sans-serif;
	font-size: 1.35rem;
	font-weight: 700;
}

.most-popular .fa-chart-line {
	color: #0065FC;
	font-size: 1.35rem;
}

.activity-card {
	position: relative;
	display: flex;
	flex-flow: column;
	align-self: stretch;
	align-items: stretch;
	width: 24%;
	border-radius: 1.25rem;
	box-shadow: 1px 1px 2px 1px rgba(82, 82, 82, 0.1);
}

.activity-card:hover{
	box-shadow: 0px -2px 20px -1px rgba(145, 145, 145, 1);
}

.activity-image img {
	border-top-right-radius: 1.25rem;
	border-top-left-radius: 1.25rem;
	width: 100%;
	height: 389px;
	object-fit: cover;
}

#activities {
	display: flex;
	justify-content: space-between;
	align-content: stretch;
	flex-flow: row;
}


.activity-header {
	text-align: left;
	font-size: 1rem;
	font-weight: 700;
	margin-left: 19px;
}

.activity-header a{
	text-decoration: none;
	color: black;
}

.activity-header a::before{
	content: "";
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}
.fbox h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 1.125rem;
}

.fbox ul {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
}

.fbox a {
	text-decoration: none;
	color: black;
}

.fbox ul li {
	margin-bottom: 0.625rem;
	font-size: 1rem;
	font-weight: 400;

}

.footer-container {
	margin-top: 4rem;
	display: flex;
	justify-content: space-evenly;
	background-color: #F2F2F2;
	padding: 2.5rem 2.5rem 2.5rem 0;
	margin-bottom: 0;
	box-sizing: border-box;
}

.fbox {
	width: 30%;
	padding-left: 1.5rem;
}


@media screen and (max-width: 992px) {


	.filters {
		width: 100%;
	}

	.filters .btn {
		margin-left: 1rem;
	}

	.results {
		flex-flow: column;
	}

	#accomodations {
		width: 100%;
		margin-bottom: 50px;
	}

	.popular {
		width: 100%;
		flex-flow: row wrap;
	}

	.right-side {
		flex-flow: row wrap;
		justify-content: space-between;

	}

	.popular-box {
		width: 32%;
		height: 144px;
	}

	.activity-image img {
		height: 211px;
	}
}

@media screen and (max-width: 768px) {

	.page-wrapper {
		margin: 0 auto;
		padding: 0;
	}

	.navigation {
		padding: 1rem;
	}

	.search {
		padding: 1rem;
	}

	.search-btn span {
		display: none;
	}

	.search-btn .fa-magnifying-glass {
		display: inline-block;
	}

	.search-container {
		justify-content: center;
		margin: 0 auto;
		width: 100%;
		padding: 1rem;
	}

	.navigation {
		justify-content: center;
		flex-direction: column;

	}

	.navigation .logo {
		margin-top: 10px;
		margin-bottom: 30px;
	}

	.links {
		width: 100%;
	}


	.links ul {
		width: 100%;
		justify-content: space-around;
		padding-bottom: 20px;
		border-bottom: 3px solid #F2F2F2;
	}

	.filters p {
		text-align: left;
	}

	.filters {
		width: 100%;
		padding: 1rem;
	}

	.filters ul {
		width: 100%;
		justify-content: space-between;
		align-items: center;
		flex-flow: row wrap;
	}

	.filters ul li {
		width: 48%;
	}

	.filters .btn {
		margin-left: 0;
		font-size: 11px;
		margin-bottom: 10px;
		width: 100%;
	}

	.btn .fa-solid {
		font-size: 17px;
		padding-right: 5px;
	}

	.info {
		padding: 1rem;
	}

	.results {
		flex-flow: column-reverse;
		width: 100%;
	}

	.right-side {
		flex-flow: column;
	}

	.popular-box {
		width: 100%;
		margin-bottom: 10px;
	}

	.popular {
		border-radius: 0;
		padding: 1rem;
	}

	#accomodations {
		width: 100%;
		background-color: #FFFFFF;
		padding: 1rem;

	}

	.left-side {
		background-color: #FFFFFF;

	}

	.image img {
		height: 124px;
		object-fit: cover;
	}

	.left-side {
		flex-flow: column;
		width: 100%;
	}

	.result-box {
		width: 100%;
		align-self: center;
	}

	.result-box .content {
		text-align: left;
		padding-left: 5px;
	}

	#activities {
		flex-flow: column;
		width: 100%;
		padding: 1rem;
		margin-top: 0;
		padding-top: 5px;
	}

	.activity-card {
		width: 100%;
		margin-bottom: 20px;
	}

	.footer-container {
		width: 100%;
		flex-flow: column;
	}

	.fbox {
		width: 100%;
	}

	.activity-image img {
		height: 134px;

	}

	.activity-h2 {
		font-size: 22px;
		padding-left: 1rem;
		width: 40%;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.most-popular {
		align-items: center;
	}

	.most-popular .fa-chart-line {
		font-size: 1.1rem;
		text-align: center;
		align-items: center;
	}

	.info {
		display: flex;
		flex-flow: row;
		align-items: center;
	}


}